<header>


  <!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2"
        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      <a class="navbar-brand" [routerLink]="['/']">
      <strong>Dkvasani</strong>
      </a>
      <div class="collapse navbar-collapse" id="collapseEx2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect waves-light" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item"  *ngIf="currentUserToken">
            <a class="nav-link waves-effect waves-light" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" [routerLink]="['/about']">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item" *ngIf="!currentUserToken">
            <a class="nav-link waves-effect waves-light" [routerLink]="['/register']" *ngIf="!currentUserToken && currentURL == '/'">Register</a>
          </li>
          <li class="nav-item" *ngIf="currentUserToken">
            <a class="nav-link waves-effect waves-light" [routerLink]="['/profile']" *ngIf="currentUserToken">Profile</a>
          </li>
          <li class="nav-item" *ngIf="currentUserToken">
            <a class="nav-link waves-effect waves-light" [routerLink]="['/user']" *ngIf="currentUserToken">User</a>
          </li>
          <li class="nav-item" *ngIf="!currentUserToken">
          <a class="nav-link waves-effect waves-light" [routerLink]="['/login']" *ngIf="!currentUserToken">Login</a>
             
          </li>

          <li class="nav-item" *ngIf="currentUserToken">
            <a class="nav-link waves-effect waves-light" href="#" (click)="logout()" *ngIf="currentUserToken">Logout</a>
          </li>
          <li class="nav-item btn-group dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item waves-effect waves-light">Action</a>
              <a class="dropdown-item waves-effect waves-light">Another action</a>
              <a class="dropdown-item waves-effect waves-light">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline waves-effect waves-light">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </div>
  </nav>
  <!--/.Navbar-->

</header>

<div *ngIf="currentUserData">
  Welcome {{currentUserData.name}}
</div>