<router-outlet name="header"></router-outlet>

<div class="jumbotron">
  <h2>User List</h2>
<h3 class="first">Basic</h3>
<h3>Type share name</h3>
<p-autoComplete [(ngModel)]="brand" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)" [size]="30"
    [minLength]="1" placeholder="Hint: type 'v' or 'f'" [dropdown]="true" (onDropdownClick)="handleDropdownClick($event)">
    <ng-template let-brand pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">          
            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{brand}}</div>
        </div>
    </ng-template>
</p-autoComplete>
<span style="margin-left:50px">Share name: {{brand||'none'}}</span>
  <div class="row">
    <table class="table">
      <tr>
        <th>Symbol </th>
        <th>Date </th>
        <th>Underlying Close Price (A) </th>
        <th>Underlying Previous Day Close Price (B) </th>
        <th>Underlying Log Returns (C) </th>
        <th>Previous Day Underlying Volatility (D) </th>
        <th>Current Day Underlying Daily Volatility (E) </th>
        <th>Underlying Annualised Volatility (F) </th>

      </tr>
      <tr *ngFor="let stock of stockData">
        <td><a>{{stock.symbol}}</a> </td>
        <td>{{stock.date}} </td>
        <td>{{stock.underlying_close_price_a}}</td>
        <td>{{stock.underlying_previous_close_price_b}}</td>
        <td>{{stock.underlying_log_returns_c}}</td>
        <td>{{stock.previous_day_underlying_volatility_d}}</td>
        <td>{{stock.current_day_underlying_daily_volatility_e}}</td>
        <td>{{stock.underlying_annualised_volatility_f}}</td>
        <td>Action</td>
      </tr>
    </table>
  </div>

  <script type="text/javascript">
$('select').select2();
</script>